/*
  Possible Animations:
  enter
  exit
  appear Must set transitionAppear={true} on animation component
*/

.order-enter
  background red
  transition: 5s
  &.order-enter-active
    background yellow